.cart-page {
  table {
    width: 100%;
    text-align: center;
    tr:first-child {
      border-bottom: 1px solid #000;
    }
    th {
      text-transform: capitalize;
    }
    .total-price {
      font-size: 20px;
      color: #EB842D;
    }
    tr td, tr th {
      padding: 15px;
      input {
        width: 50px;
        text-align: center;
      }
      p {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 5px;
      }
      textarea {
        width: 90%;
        height: 100px;
        border-radius: 10px;
        outline: none;
        resize: none;
      }
    }
    .btn-order {
      button {
        color: #000;
        border: 1px solid #000;
        background: linear-gradient(to right, #EB842D 50%, #fff 50%);
        background-size: 202% 100%;
        background-position: right bottom;
        transition: all .4s ease-out;
        &:hover {
          color: white;
          background-position: left bottom;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    table {
      tr td, tr th {
        font-size: 14px;
        padding: 10px;
      }
      .total-price td {
        font-size: 18px;
        color: #EB842D;
      }
    }
  }
}