.footer {
  background-color: #000000;
  .row {
    border-bottom: 0.1px solid #ffffff;
    .logo {
      color: #ffffff;
    }
    .title {
      font-size: 14px;
      font-weight: bold;;
      color: #ffffff;
    }
    .content {
      font-size: 13px;
      p {
        color: #ffffff;
      }
    }
  }
  .sub-title {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
  }
}