.home {
  .home-slide {
    img {
      width: 100%;
      height: calc(100vh - 52px);
      object-fit: cover;
    }
  }
  .promotion {
    text-align: center;
    margin-bottom: 50px;
    .title-promotion {
      margin: 25px;
      color: #EB842D;
      font-weight: bold;
      font-size: 24px;
    }
  }

  // tablet screen
  @media screen and (max-width: 1199px) {
    .home-slide {
      img {
        height: 535px;
      }
    }
  }

  // mobile screen
  @media screen and (max-width: 767px) {
    .home-slide {
      img {
        height: 355px;
      }
    }
  }
}