<template>
  <div class="container forgot-password-page">
    <h2 class="title">Quên mật khẩu</h2>
    <hr>
    <form action="#" method="post" style="width: 50%; margin: 0 auto;">
      <div class="form-group">
        <label for="username">Tên tài khoản</label>
        <input type="text" class="form-control" placeholder="Nhập tên tài khoản..." id="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Nhập email..." id="email">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Lấy lại mật khẩu</button>
    </form>
  </div>
</template>>