<template>
  <div class="home-slide">
    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000"
      fade
      indicators
      img-width="100%"
      img-height="auto"
    >
      <b-carousel-slide caption="" img-src="https://vietblend.vn/wp-content/uploads/2018/12/cover-ws_trasua-1.jpg"></b-carousel-slide>
      <b-carousel-slide caption="" img-src="https://static.appotapay.com/uploads/avatar/082018/1200x628-1.jpg"></b-carousel-slide>
      <b-carousel-slide caption="" img-src="https://static.appotapay.com/uploads/avatar/062018/1200x628.jpg"></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "home-slide",
};
</script>
